h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#button {
    display: flex;
    justify-content: center;
}

#table {
    display: flex;
    margin: auto;
    width: 1000px;
    height: 700px;
    background-image: url("Connect4Board.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.col {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.redDisk {
    display: flex;
    border: 1px solid black;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: red;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.blackDisk {
    display: flex;
    border: 1px solid black;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: black;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}